.loading-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
}

.products-container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(auto, auto);
  grid-template-columns: repeat(4, auto);
  gap: 2em; 
  list-style: none;
  padding-left: 0px;
  padding-bottom: 100px;
  margin: auto;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.product:hover {
  cursor: pointer;
}

.product img {
  position: absolute;
  top: 1.25em;
}

.product-title {
  position: absolute;
  bottom: 2.25em;
  text-align: center;
  color: black;
}

.product-price {
  position: absolute;
  bottom: 1em;
  color: #ff533d;
}